* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #111;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;

  background-color: white;

  border-bottom: 1px solid #ddd;
}

nav a {
  text-decoration: none;
  color: #111;
}

nav > div:first-child a {
  font-size: 22px;
  font-weight: bold;
}

nav > div:last-child {
  display: flex;
  gap: 25px;
}

nav > div:last-child a:hover {
  color: #0070f3;
}